@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* hsl(222.2 47.4% 11.2%) -> hsl(225.45, 49.25%, 13.14%) */
/* hsl(221.2 83.2% 53.3%) -> hsl(211.13, 61.63%, 33.73%) */
/* hsl(217.2 91.2% 59.8%) -> hsl(210.89, 54.01%, 36.67%) */
/* hsl(224.3 76.3% 48%) -> hsl(212.12, 60%, 32.35%) */
/* hsl(214.3 31.8% 91.4%) -> hsl(212.31, 23.64%, 89.22%) */
/* hsl(210 40% 96.1%) -> hsl(214.29, 25.93%, 94.71%) */
/* hsl(210 40% 98%) -> hsl(220, 23.08%, 97.45%) */

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(222.2 84% 4.9%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(222.2 84% 4.9%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(222.2 84% 4.9%);
  --primary: hsl(211.13, 61.63%, 33.73%);
  --primary-foreground: hsl(220, 23.08%, 97.45%);
  --secondary: hsl(214.29, 25.93%, 94.71%);
  --secondary-foreground: hsl(225.45, 49.25%, 13.14%);
  --muted: hsl(214.29, 25.93%, 94.71%);
  --muted-foreground: hsl(215.4 16.3% 46.9%);
  --accent: hsl(214.29, 25.93%, 94.71%);
  --accent-foreground: hsl(225.45, 49.25%, 13.14%);
  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(220, 23.08%, 97.45%);
  --border: hsl(212.31, 23.64%, 89.22%);
  --input: hsl(212.31, 23.64%, 89.22%);
  --ring: hsl(211.13, 61.63%, 33.73%);
  --radius: 0.5rem;
  --chart-1: hsl(12 76% 61%);
  --chart-2: hsl(173 58% 39%);
  --chart-3: hsl(197 37% 24%);
  --chart-4: hsl(43 74% 66%);
  --chart-5: hsl(27 87% 67%);

  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.87 0 0);
}

.dark {
  --background: hsl(222.2 84% 4.9%);
  --foreground: hsl(220, 23.08%, 97.45%);
  --card: hsl(222.2 84% 4.9%);
  --card-foreground: hsl(220, 23.08%, 97.45%);
  --popover: hsl(222.2 84% 4.9%);
  --popover-foreground: hsl(220, 23.08%, 97.45%);
  --primary: hsl(210.89, 54.01%, 36.67%);
  --primary-foreground: hsl(225.45, 49.25%, 13.14%);
  --secondary: hsl(217.2 32.6% 17.5%);
  --secondary-foreground: hsl(220, 23.08%, 97.45%);
  --muted: hsl(217.2 32.6% 17.5%);
  --muted-foreground: hsl(215 20.2% 65.1%);
  --accent: hsl(217.2 32.6% 17.5%);
  --accent-foreground: hsl(220, 23.08%, 97.45%);
  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(220, 23.08%, 97.45%);
  --border: hsl(217.2 32.6% 17.5%);
  --input: hsl(217.2 32.6% 17.5%);
  --ring: hsl(212.12, 60%, 32.35%);
  --chart-1: hsl(220 70% 50%);
  --chart-2: hsl(160 60% 45%);
  --chart-3: hsl(30 80% 55%);
  --chart-4: hsl(280 65% 60%);
  --chart-5: hsl(340 75% 55%);

  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@layer utilities {
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in-up {
    animation: fadeInUp 0.3s ease-out;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.form-input {
  @apply flex bg-primary-foreground shadow-xs transition-[color,box-shadow];
  @apply border-[3px] rounded-md pr-3 focus-within:border-ring/50;
}

.backface-hidden {
  backface-visibility: hidden;
}
.transform-style-preserve-3d {
  transform-style: preserve-3d;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}

/* Scrollbar */
::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track{
  @apply bg-muted;
}
::-webkit-scrollbar-thumb{
  @apply bg-primary border border-muted-foreground;
}
::-webkit-scrollbar-thumb:hover{
  @apply bg-primary/90;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
  overflow: hidden;
}

th,
td {
  border: 1px solid #cbd5e1;
  padding: 0.5rem 0.75rem;
  vertical-align: top;
  position: relative;
}

th {
  font-weight: bold;
  text-align: left;
  background-color: #f1f5f9;
}

/* For the resizable table columns */
.ProseMirror .column-resize-handle {
  position: absolute;
  right: -2px;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: #3b82f6;
  cursor: col-resize;
  user-select: none;
}

p {
  margin-bottom: 10px;
}